html, body {
  width: 100%;
}

#tabs {
  margin-top: 1px;
  width: 100%;
}

.tab {
  display: flex;
  align-items: center;
  border: solid #cfcfcf 1px;
  margin-bottom: 1px;
  padding-left: 2px;
  width: 100%;
}

.tab-title {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

.tab-favicon {
  display: inline-block;
  background-size: cover;
  background-position: center;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}
