html, body {
  width: 100%;
}

#tabs {
  margin-top: 1px;
  width: 100%;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: solid #cfcfcf 1px;
  margin-bottom: 1px;
  padding-left: 2px;
  width: 100%;
}

.tab-title {
  display: inline-block;
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.tab-favicon {
  /* necessary to avoid flicker when hovering the close button */
  flex-shrink: 0;
  display: inline-block;
  background-size: cover;
  background-position: center;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

.close-button {
  padding: 0 2px;
  display: none;
}

.tab:hover > .close-button {
  display: inline-block;
}
