/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/.cache
/dist
/tags
/extension/background.js
/extension/background.js.map
/extension/sidebar.js
/extension/sidebar.js.map
/pure_tabs.xpi
